@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*font-family: 'Asap', sans-serif;*/
/*font-family: 'Kanit', sans-serif;*/
/*font-family: 'Quattrocento Sans', sans-serif;*/

:root {
    --text: #1f1414;
    --background: #f7f7f7;
    --primary: #b1b6c8;
    --secondary: #e8e1de;
    --accent: #8d5e5e;
}

body {
    background-color: var(--background);
}

nav {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--secondary);
    border-radius: 20px;
}

nav h1 {
    font-family: 'Asap', sans-serif;
    font-size: 50px;
    color: var(--text);
    text-indent: 15px;
}
nav img {
    width: 70px;
    height: 70px;
    align-self: center;
    padding: 40px;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 5px;
    margin-left: auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page-wrapper h2 {
    font-family: 'Kanit', sans-serif;
    color: var(--primary);
    font-size: 50px;
    text-indent: 40px;
}

.container {
    display: flex;
    flex-direction: row;
}

button {
    width: 150px;
    height: 40px;
    border-style: none;
    align-self: center;
    border-radius: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: var(--text);
    background-color: #FFFFFF;
    margin-left: 20px;
    text-transform: uppercase;
    transition: 0.8s;
}
button:hover {
    background-color: var(--accent);
    letter-spacing: 2px;
    box-shadow: 0 0 9px 0 var(--accent);
    color: #FFF;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.fav-card {
    width: 300px;
    height: 490px;
    background-image: linear-gradient(#f5f0f0, var(--secondary));
    color: var(--text);
    border-radius: 20px;
    padding: 20px;
    transition: 0.8s;
}

.fav-card:hover {
    width: 330px;
    height: 510px;
    box-shadow: 0 0 10px 5px var(--secondary);
}

.fav-card h3 {
    font-family: 'Kanit', sans-serif;
    color: var(--accent);
    font-size: 30px;
    transition: 0.5s;
}

.fav-card h3:hover {
    font-size: 35px;
}

.fav-card p {
    font-family: 'Quattrocento Sans', sans-serif;
}



